* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

#root {
  height: 100vh;
}

.bg-img {
  height: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("images/home-bg.jpg");
}

.bg-filter {
  height: 100%;
  background: linear-gradient(180deg, rgba(178, 173, 163, 0.5) 15.1%, rgba(81, 73, 65, 0.5) 100%), rgba(238, 243, 243, 0.45);
}

.title {
  font-size: 1.25em;
}

.nav-btn {
  right: 0;
  font-size: 1.25em;
  position: absolute;
}

.home-title {
  position: relative;
  font-size: 2.25em;
  letter-spacing: .3em;
}

.container-vertical {
  width: 100%;
  height: 70vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.carousel {
  opacity: .5;
  width: 100%;
  height: 30vh;
  color: white;
  line-height: 30vh;
  vertical-align: 15vh;
  text-align: center;
  background-color: rgb(66, 66, 66);
}

#view-cars {
  outline: 0;
  border: none;
  font-size: 1.8em;
  background: none;
  position: relative;
  letter-spacing: .2em;
}
